<div class="container">
    <!-- <app-cockpit (serverOrBluePrintAdded)="onServerAdded($event)"></app-cockpit> -->
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <!-- <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Component</button>
            <app-server-element *ngFor="let element of serverElements" [serverElement]="element"></app-server-element> -->
            <!-- <app-game-control (numChanged)="onNumChanged($event)" (clearUpEverything)="clearUp()"></app-game-control>
            <div class="row">
                <div class="col-xs-6">
                    <app-even *ngFor="let evenNum of evenNums" [even]="evenNum"></app-even>
                </div>
                <div class="col-xs-6">
                    <app-odd *ngFor="let oddNum of oddNums" [odd]="oddNum"></app-odd>
                </div>
            </div> -->
            <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only Show {{onlyOdd ? 'Even' : 'Odd'}}
                Numbers</button>
            <ul class="list-group" ngClass="{{onlyOdd ? 'odd' : 'even'}}">
                <div *appUnless="!onlyOdd">
                    <li class="list-group-item" *ngFor="let number of evenNums"
                        [ngStyle]="{'background-color': onlyOdd ? 'green' : 'yellow'}">{{number}}</li>
                </div>
                <div *appUnless="onlyOdd">
                    <li class="list-group-item" *ngFor="let number of oddNums"
                        [ngStyle]="{'background-color': onlyOdd ? 'green' : 'yellow'}">{{number}}</li>
                </div>
            </ul>
            <p appBasicHighlight>Style me with basic directive!</p>
            <p appBetterHighlight [highlightColor]="'black'" [defaultColor]="'#7FFF00'">Style me with better directive!
            </p>
            <div [ngSwitch]="value">
                <p *ngSwitchCase="5">Value is 5.</p>
                <p *ngSwitchCase="10">Value is 10.</p>
                <p *ngSwitchCase="100">Value is 100.</p>
                <p *ngSwitchDefault>Value is Default.</p>
            </div>
        </div>
    </div>
</div>
